@import url(http://fonts.googleapis.com/css?family=Graduate);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face { font-family: 'IconicFill'; src: url('/fonts/iconic_fill.eot'); src: local('IconicFill'), url('/fonts/iconic_fill.svg#iconic') format('svg'), url('/fonts/iconic_fill.otf') format('opentype'); }

body { background: #005A78 url('/images/noise.png') repeat; font: 14px "Open Sans", "Helvetica", "Arial", sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: "Graduate", serif; }

div#wrapper { width: 900px; margin: 20px auto; padding: 15px; background: #FAFAFA; border: 1px solid #000; border-radius: 10px; box-shadow: 2px 2px 3px #000; }

ul.suggestion-list a.like, ul.suggestion-list a.delete, ul.suggestion-list a.edit, ul.suggestion-list a.complete { cursor: pointer; font-family: "IconicFill"; font-size: 1.3em; text-decoration: none; color: #000; }
ul.suggestion-list a.like:hover, ul.suggestion-list a.delete:hover, ul.suggestion-list a.edit:hover, ul.suggestion-list a.complete:hover { color: blue; }

ul.suggestion-list li { margin: 12px 0; }
ul.suggestion-list li.like-level-3 { color: green; }
ul.suggestion-list li.like-level-2 { color: orange; }
ul.suggestion-list li.like-level-1 { color: red; }

ul.suggestion-list span.content::after { content: ' - '; }
ul.suggestion-list span.likes { margin-left: 5px; background: #005A78; border-radius: 3px; padding: 2px 5px; color: #FFF; }

input#new-suggestion { margin: 5px 0; padding: 5px; width: 90%; }

a.fork-me { position: absolute; top: 0; right: 0; border: 0; display: block; width: 149px; height: 149px; text-indent: -9999em; background: url('https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67') no-repeat top right; }